@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9313se');
  src:  url('fonts/icomoon.eot?9313se#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9313se') format('truetype'),
    url('fonts/icomoon.woff?9313se') format('woff'),
    url('fonts/icomoon.svg?9313se#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
